.user-menu 
{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-name 
{
  color: black;
  padding-right: 10px;
  margin-right:40px;
  margin-left: 15px;
  font-size:25px;
}

.card 
{
  max-width: 100%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header 
{
  background-color: grey;
  color: black;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body 
{
  padding: 20px;
}

.form-group 
{
  margin-bottom: 20px;
}

.label 
{
  display: block;
  margin-bottom: 5px;
}

.row 
{
  display: flex;
}

.col-md-3 
{
  max-width: 25%; 
  padding-right: 15px;
}

.input-container input[type="text"],
.input-container input[type="date"],
.input-container select 
{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-container button 
{
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #1b4543;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container button:hover 
{
  background-color: #0e2e2b;
}