.user-menu 
{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-name 
{
  color: black;
  padding-right: 10px;
  margin-right:40px;
  margin-left: 15px;
  font-size:25px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 14px;
    color: #444444;
    text-transform: uppercase;
  }
  
  td {
    font-size: 13px;
    color: #444444;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #dddddd;
  }
  
  caption {
    caption-side: top;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
  }

  .col-md-6 
  {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px; 
  }

  
  .col-md-5
  {
    flex: 0 0 50%;
    max-width: 45%;
    padding-right: 15px; 
  }